<!DOCTYPE html>
<html>
<head>
	<title>ORDERS PAGE</title>
	<link rel="stylesheet" type="text/css" href="ORDERv2.css">
</head>
<body>

	<div class="Head">
		<img src="https://parfumerefile.files.wordpress.com/2013/09/order.jpg">
	</div>


	<table class="container">
		<tr class="table_head">
			<td class="t_heads" width="8%">Sr no.</td>
			<td class="t_heads" width="7%">Customer Id</td>
			<td class="t_heads" width="40%">Address</td>
			<td class="t_heads" width="27%">Items</td>
			<td class="t_heads" width="6%">Price</td>
			<td class="t_heads" width="6%">Quantity</td>
			<td class="t_heads" width="6%"></td>
		</tr>

		<!-- object pass karna padega template ko aur ye for loop me chalane padenge -->
		<tr>
			<th>1.</th>
			<th>501822</th>
			<th>A-104 Neel Residency-1 Sector-3 New Panvel esdfhnwae[opifOABNEFISDA'OE'3[OFAIHW'ES</th>
			<th>Wheat : <p></p><img src="https://cdn.britannica.com/90/94190-050-C0BA6A58/Cereal-crops-wheat-reproduction.jpg"></th>
			<th>200rs</th>
			<th> 5 </th>
			<th><button><img class="rem_but" src="https://image.flaticon.com/icons/png/512/447/447002.png"></button></th>
		</tr>

		<tr>
			<th>2.</th>
			<th>501822</th>
			<th>A-104 Neel Residency-1 Sector-3 New Panvel esdfhnwae[opifOABNEFISDA'OE'3[OFAIHW'ES</th>
			<th>Wheat : <p></p><img src="https://cdn.britannica.com/90/94190-050-C0BA6A58/Cereal-crops-wheat-reproduction.jpg"></th>
			<th>200rs</th>
			<th> 5 </th>
			<th><button><img class="rem_but" src="https://image.flaticon.com/icons/png/512/447/447002.png"></button></th>
		</tr>

	</table>








</body>
</html>