<!DOCTYPE html>
<html>
<head>
	<title>LOGIN PAGE</title>
	<link rel="stylesheet" type="text/css" href="RegSite.css">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

</head>
<body>

	<div class="login_page">
		<div class="FORM">
			<form class="reg_form">
				<h1>Register!</h1>
				<input type="text" placeholder="user name">
				<input type="text" placeholder="password">
				<input type="text" placeholder="email id">
				<input type="text" placeholder="address">

				<button>Create</button>
				<p class="message">Already Registered? <a id="log_but" href="#">Login</a></p>
			</form>

			<form class="login_form DISP"
			>
				<h1>Login!</h1>
				<input type="text" placeholder="username">
				<input type="text" placeholder="password">
				
				<button>Login</button>
				<p>Not Registered? <a id="reg_but" href="#">Register</a></p>
			</form>


		</div>
	</div>

	<script type="text/javascript">
		$(".FORM .reg_form a").on("click",function(){
   			$(".reg_form").toggleClass("DISP");
    		$(".login_form").toggleClass("DISP")
		});

		$(".FORM .login_form a").on("click",function(){
    		$(".reg_form").toggleClass("DISP");
    		$(".login_form").toggleClass("DISP")
		});	
	</script>


</body>
</html>